@model IEnumerable<StudentAttendance.Models.Class>

@{
    ViewData["Title"] = "Class Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClassID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClassID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClassID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
