@model StudentAttendance.Models.Teacher

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Delete</h1>

<h3 class="text-warning">Are you sure you want to delete this?</h3>
<div class="bg-light p-3 rounded">
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TeacherID" />
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
        <a class="btn btn-secondary" asp-action="Index">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </form>
</div>

<!-- Add these lines in your layout or head section to include Bootstrap and Font Awesome -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Add custom styles for background -->
<style>
    body {
        background-color: #f8f9fa;
    }
</style>
